@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body{
    background-image: url(../img/T33.png);
    background-size: cover;
    background-position: center;
    
}

header{
    background: #002E5D;
    height: 110px;
    align-items: center;
    display: flex;
    text-align: right;
    
    /* margin-bottom: 150px; */
    box-shadow: 0px 0px 10px #002E5D;
    justify-content: space-between;
   
}
a#button{
    text-decoration: none;
    /* color: white; */
    color: white;
}
nav{
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    line-height: 2.5em;
    /* background: #002E5D; */
    /* height: 5vh; */
    margin-right: 15px;
      
}

h1 {
    margin-top: 100px;
    text-align: center;
    font-family: Raleway;
}

 p {
    font-family: Raleway;
    margin: 1em;
}

img {
    width: 2em;
}

.login{
    background-color: white;
    width: 40%;
    padding: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
   
    border-radius: 4px;
    height: 100%;
}

button {
    background-color: #002e5d;
    color: white;
    font-family: Raleway;
    width: 30em;
    height: 3em;
}

input {
    
    align-items: center;
    display: block;
    width: 40vh;
    height: 50px;
    outline: none;
    border: none;
    border-bottom: black 0.5px solid;
}


.imgs {
    display: flex;
width: 328px;
align-items: flex-start;
align-content: flex-start;
gap: 40px 21px;
flex-wrap: wrap;
}

.entrar {
    align-items: center;
}

.gl{
    display: flex;
    flex-direction: row;
    margin: 3px;
}

.face{
    display: flex;
    flex-direction: row;
    margin: 3px;
}

.apple {
    display: flex;
    flex-direction: row;
    margin: 3px
}

button{
    margin-top: 5px;
}

a{
    text-decoration: none;
    color: #002E5D;
}

#logo {
    display: flex;
    justify-content: end;
    width: 4%;
    margin-left: 1%;
    
}

main {
    width: 100%;
    height: 80vh;
}

 
.mobile-menu {
    display: none;
    cursor: pointer;
  }


  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
.nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }

  /* @media (max-width: 1024px)  {

    body {
      overflow-x: hidden;
      /* background: none; */
    /* }

    #logo{
      width: 9%;
    }

    .login {
      width: 90%;
      height: 105.5%;
    }

    button {
      width: 41.5em;
    }
  } */ 


  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
      background: none;
    }

    .imgs{
      width: 10em;
    }

    #logo{
      width: 15%;
    }

    .login {
      width: 90%;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #002E5D;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  